<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.geogram">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>


    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".utility.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".utility.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>


        <activity android:name=".homee.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".like.LikesActivity"></activity>
        <activity android:name=".Prof.ProfileActivity"></activity>
        <activity android:name=".searchh.SearchActivity"
            android:windowSoftInputMode="adjustNothing"></activity>
        <activity android:name=".sharee.ShareActivity"></activity>
        <activity android:name=".Prof.AccountSettingsActivity"></activity>
        <activity android:name=".Login.LoginActivity"></activity>
        <activity android:name=".Login.RegisterActivity"></activity>
        <activity android:name=".like.NextActivity"></activity>


        <activity android:name=".SignedInActivity"/>
        <activity android:name=".ChatActivity"/>
        <activity android:name=".ChatroomActivity"/>
        <activity android:name=".AdminActivity"/>
        <activity android:name=".SettingsActivity"/>
    </application>

</manifest>